*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.contact__container{
    color: #d9d9d9;
    background-color: #252525;
    display: flex;
    padding: 7rem 5rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    /* flex : 1 1; */
}
.contact__left{
    flex: 1 1 0%;
    padding-top: 5rem;
}
.contact__right{
    flex: 1 1 0%;
}
.contact__left .reach{
    font-size: 2rem;
    width: 80%;
    padding-bottom: 3rem;
}
.contact__contacts{
    font-size: 0.8rem;
    /* word-spacing: 1rem; */
}
.contact__contacts h3, .contact__contacts a, .contact__contacts h4{
    padding-bottom : 1rem;
}
.contact__contacts span,.contact__contacts span{
    margin-left: 1rem;
}
.contact__contacts a{
    text-decoration: none;
    color : #d9d9d9;
    cursor: pointer;
    font-weight: 700;
}

.contact__contacts a span:hover{
    text-decoration: underline;
}

.contact__contacts h4{
    font-size: 0.8rem;
}
.contact__desc{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
}
.submitbtn{
    background-color: #7d398a;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
textarea{
    width: 100%;
}
input, textarea {
    font-size: 1.4rem;
    padding-left: 1rem;
    margin: 0.6rem 0px;
    background-color: #413f3f;
}
input{
    width: 48.5%;
    height: 3.5rem;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-right: 0.4rem;

}
@media screen and (max-width : 768px){
   .contact__container{
    flex-direction : column-reverse;
   }
   .contact__contacts span{
       font-size: 11px;
   }
   .reach{
       font-size: 15px !important;
   }
   form input{
       width: 100%;
   }
   form input::placeholder, form textarea::placeholder{
       font-size: 12px;
   }
   .contact__contacts span,.contact__contacts span{
        margin-left: 0.4rem;
    }
    
    .submitbtn{
        font-weight: 500;
        padding: 0.8rem 1.5rem;
        font-size: 11px;
    }
  }